@tailwind base;
@tailwind components;
@tailwind utilities;


@import '../styles/dark-theme.css';


@layer utilities{
  .gradient-red {
    @apply bg-gradient-to-t from-red-500 to-red-400
  }

  .gradient-blue {
    @apply bg-gradient-to-t from-blue-500 to-blue-400
  }

  .header {
    @apply min-h-[50px] min-w-full flex-nowrap bg-green-700 flex w-full items-center justify-between gap-2 px-4;
  }

  .document-title {
    @apply line-clamp-1 capitalize border border-yellow-400 text-base font-semibold leading-[24px] sm:pl-0 sm:text-xl;
  }
}