@tailwind base;
@tailwind components;
@tailwind utilities;


@import '../styles/dark-theme.css';


@layer utilities{
  .gradient-red {
    @apply bg-gradient-to-t from-red-500 to-red-400
  }

  .gradient-blue {
    @apply bg-gradient-to-t from-blue-500 to-blue-400
  }
}