@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@liveblocks/react-ui/styles.css";
@import "@liveblocks/react-lexical/styles.css";
@import '../styles/dark-theme.css';


@layer utilities{
  .gradient-red {
    @apply bg-gradient-to-t from-red-500 to-red-400
  }

  .gradient-blue {
    @apply bg-gradient-to-t from-blue-500 to-blue-400
  }

  .header {
    @apply min-h-[50px] min-w-full flex-nowrap bg-green-700 flex w-full items-center justify-between gap-4 px-4;
  }

  .document-title {
    @apply line-clamp-1 capitalize border border-yellow-400 text-base font-semibold leading-[24px] sm:pl-0 sm:text-xl;
  }

  .auth-page-sign-in {
    @apply flex justify-center h-screen items-center;
  }

  .home-container {
    @apply relative flex min-h-screen w-full flex-col items-center gap-5 sm:gap-10;
  }

  .document-list-empty{
    @apply flex w-full max-w-[600px] flex-col items-center justify-center gap-4 rounded-lg bg-yellow-400 px-10 py-8;
  }
}